<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.music-mapper">
<!-- 
/*
 NO                                        NOT NULL NUMBER
 CNO                                                NUMBER
 RANK                                      NOT NULL NUMBER
 TITLE                                     NOT NULL VARCHAR2(200)
 SINGER                                    NOT NULL VARCHAR2(100)
 ALBUM                                     NOT NULL VARCHAR2(200)
 POSTER                                    NOT NULL VARCHAR2(260)
 STATE                                              CHAR(6)
 IDCREMENT                                          NUMBER
 KEY                                                VARCHAR2(100)
 HIT                                                NUMBER
 LIKECOUNT                                          NUMBER
 */
 -->
  <select id="musicListData" resultType="MusicVO" parameterType="hashmap">
    SELECT no,title,poster,singer,num
    FROM (SELECT no,title,poster,singer,rownum as num
    FROM (SELECT no,title,poster,singer
    FROM genie_music ORDER BY no))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="musicTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/12.0)
    FROM genie_music
  </select>
  <select id="musicDetailData" resultType="MusicVO" parameterType="int">
    SELECT * FROM genie_music
    WHERE no=#{no}
  </select>
  
  <select id="musicTypeListData" resultType="MusicVO"
   parameterType="hashmap"
  >
    SELECT no,title,poster,singer,cno
    FROM genie_music
    WHERE cno LIKE '%'||#{cno}||'%'
    ORDER BY no ASC
    OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
    <!-- 
       MySQL : LIMIT start,12
       Oracle : Inline View
     -->
  </select>
  <select id="musicTypeTotalPage" resultType="int"
   parameterType="string" 
  >
    SELECT CEIL(COUNT(*)/12.0)
    FROM genie_music
    WHERE cno LIKE '%'||#{cno}||'%'
    <!-- 
         MySQL : WHERE type LIKE CONCAT('%',#{type},'%')
         NVL = IFNULL , TO_CHAR = DATE_FORMAT
     -->
  </select>
  <select id="musicFindListData" resultType="MusicVO"
    parameterType="hashmap"
  >
    SELECT no,title,poster,singer,cno FROM genie_music
    WHERE ${column} LIKE '%'||#{ss}||'%'
    <!-- 
      WHERE 'address' LIKE ~
      $ = table , column 
     -->
  </select>
</mapper>